.benefit {
  display: grid;
  position: relative;

  &::after {
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: -78px;
  }

  &:nth-of-type(2n - 1)::after {
    content: "";
    background-color: $color-red;
  }
}

.benefit__value,
.benefit__description {
  display: flex;
  flex-direction: column;
  margin: 0;

  dd {
    margin: 0;
    max-width: max-content;
  }
}

.benefit__value {
  row-gap: 7px;

  dd {
    background: linear-gradient(142.51deg, $color-red 0%, #0041ca 87.33%);
    background-clip: text;

    color: $color-transparent;
    font-weight: 700;
    font-size: 71px;
    line-height: 53px;
  }

  dt {
    margin-top: -3px;
    color: $color-blue-purple;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
  }
}

.benefit__description {
  row-gap: 11px;

  dt {
    color: $color-dark-blue;
    font-weight: 700;
    font-size: 22px;
    line-height: 22px;
  }

  dd {
    width: 100%;
    font-size: 16px;
    line-height: 22px;
    font-weight: 300;
  }
}

