.benefit {
  display: grid;
}

.benefit__value,
.benefit__description {
  margin: 0;

  dd {
    margin: 0;
    max-width: max-content;
  }
}

.benefit__value {
  &:nth-child(1n) {
    margin-top: -8px;
  }

  dd {
    background: linear-gradient(142.51deg, $color-red 0%, #0041ca 87.33%);
    background-clip: text;

    color: $color-transparent;
    font-weight: 700;
    font-size: 71px;
    line-height: 71px;
  }

  dt {
    margin-top: -3px;
    color: $color-blue-purple;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
  }
}

.benefit__description {
  &:nth-child(1n + 1) {
    padding-top: 3px;
  }

  dt {
    margin-bottom: 10px;
    color: $color-dark-blue;
    font-weight: 700;
    font-size: 22px;
    line-height: 22px;
  }

  dd {
    width: 100%;
    font-size: 16px;
    line-height: 22px;
    font-weight: 300;
  }
}

//37--40  44--45 46--48 50--56 57--20 22--
