.footer {
  background-color: $color-black-russian;
}

.footer__inner {
  padding-block: 42px 33px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  @include vp-1200 {
    padding-block: 45px 41px;
    padding-inline: 45px 39px;
    gap: 30px;
  }

  @include vp-767 {
    flex-direction: column;
    padding-inline: 15px;
    padding-block: 47px 52px;
  }
}

.footer__logo {
  cursor: pointer;
  height: max-content;
  padding-block: 8px;
  display: inline-block;

  @include vp-1200 {
    padding-block: 3px 8px;

    max-width: 81px;

    img {
      min-width: 100%;
    }
  }

  @include vp-767 {
    position: static;
    max-width: 68px;
    padding-block: 4px;

    img {
      min-width: 68px;
      min-height: 15px;
    }
  }

  @include hover-focus {
    opacity: 0.65;
    transition: opacity $trans-default;
  }
}


.footer__nav-list {
  margin: 0 0 0 9px;
  padding: 0;
  list-style: none;
  max-width: max-content;
  width: 100%;

  display: grid;
  grid-template-columns: repeat(5, max-content);
  column-gap: 40px;
  row-gap: 10px;

  @include vp-1200 {
    gap: 30px;
  }

  @include vp-767 {
    gap: 75px;
    display: block;
    column-count: 2;
    padding: 0;
    margin-inline: 0;
    margin-top: -54px;
  }
}

.footer__nav-item {
  color: $color-default-white;

  @include vp-767 {
    margin-top: 16px;

    &:first-child {
      margin-top: 40px;
    }
  }
}

.footer__link {
  color: inherit;
  font-size: 14px;
  line-height: 1;

  @include vp-767 {
    font-size: 16px;
  }

  @include hover-focus {
    color: $color-red;
    transition: color $trans-default;
  }
}

.footer__socials {
  margin: 0;

  @include vp-767 {
    margin: -5px 0 0;
  }
}
