.header {
  position: absolute;
  top: 30px;
  left: 0;
  right: 0;
  background-color: $color-transparent;

  @include vp-1200 {
    top: 34px;
  }

  @include vp-767 {
    top: 15px;
  }
}

.header__inner {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.header__logo {
  max-width: 120px;
  max-height: 44px;
  width: 100%;
  height: auto;
  margin-top: 10px;

  @include vp-1200 {
    margin-top: 6px;
    max-width: 82px;
    max-height: 17px;
  }

  @include vp-767 {
    margin-top: 0;
    max-width: 67px;
    max-height: 24px;
  }

  img {
    width: 100%;
    height: 100%;
  }
}

.header__nav {
  display: flex;
  flex-direction: column;
}

.header__phone {
  color: $color-default-white;

  font-family: $ff-alumi-sans;
  font-weight: 600;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;

  @include vp-1200 {
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    letter-spacing: 0.02em;
  }

  @include vp-767 {
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
  }
}
