.reviews {
  padding: 47px 0 45px;

  @include vp-1200 {
    padding: 42px 0;
  }

  @include vp-767 {
    padding: 19px 0 40px;
  }
}

.reviews__title {
  margin: 0 0 37px;
  text-align: center;

  color: $color-dark-blue;
  font-family: $ff-alumi-sans;
  font-weight: 600;
  font-size: 54px;
  line-height: 65px;
  letter-spacing: 0.03em;

  transform: translate(3px, 0);

  @include vp-1200 {
    margin: 0 0 40px;
    font-size: 42px;
    line-height: 50px;
    transform: translate(-2px, 0);
  }

  @include vp-767 {
    margin: 0 0 42px;

    font-size: 32px;
    line-height: 38px;
  }
}

.reviews__swiper {
  position: relative;
  margin: 0 auto;
  max-width: 672px;
  padding: 0 56px;

  @include vp-1200 {
    max-width: 678px;
  }

  @include vp-767 {
    padding: 0 32px;
  }
}

.reviews__swiper-btn {
  width: 26px;
  height: 42px;
  background-color: $color-transparent;
  position: absolute;
  cursor: pointer;
  padding: 0;
  border: 0;

  background-image: url("../../img/svg/swiper-arrow.svg");
  background-repeat: no-repeat;

  &:disabled {
    display: none;
  }

  @include vp-767 {
    width: 16px;
    height: 32px;
    background-size: 16px 32px;
  }

  &--prev {
    top: 103px;
    left: -4px;

    @include vp-767 {
      top: 153px;
    }
  }

  &--next {
    top: 98px;
    right: -4px;
    transform: rotate(180deg);

    @include vp-767 {
      top: 151px;
    }
  }
}
