.socials {
  padding: 0;
  list-style: none;
  max-width: 97px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 11px;

  @include vp-767 {
    min-width: 100%;
  }
}

.socials__item {
  display: inline-block;
  max-width: 25px;
  width: 100%;
  min-width: 25px;
  max-height: 25px;
  height: 100%;
  min-height: 25px;
}

.socials__link {
  width: 100%;
  height: 100%;
  background-color: $color-default-white;
  color: $color-black-russian;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;

  @include hover-focus {
    background-color: $color-red;
    color: $color-default-white;
    transition: all $trans-default;
  }
}
