.stocks {
  padding: 100px 0 70px;

  @include vp-1200 {
    padding: 92px 0 50px;
  }

  @include vp-767 {
    padding: 65px 0 45px;
  }
}

.stocks__title {
  margin: 0 0 34px;
  font-family: $ff-alumi-sans;
  font-weight: 600;
  font-size: 54px;
  line-height: 65px;
  color: $color-dark-blue;
  text-align: center;
  letter-spacing: 0.03em;

  @include vp-1200 {
    margin: 0 0 40px;

    font-size: 42px;
    line-height: 50px;
    transform: translate(-4px, 0);
  }

  @include vp-767 {
    margin: 0 0 41px;

    font-size: 32px;
    line-height: 38px;
    transform: translate(-2px, 0);
  }
}

.stocks__content {
  width: 100%;

  display: grid;
  grid-template-columns: minmax(530px, 560px) minmax(450px, 560px);
  column-gap: 40px;

  @include vp-1200 {
    grid-template-columns: 1fr;
    row-gap: 30px;
  }

  @include vp-767 {
    grid-template-columns: 1fr;
  }
}

.stocks__list {
  grid-column: 2 / 3;
  margin: 0;
  padding: 0;
  list-style: none;
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 40px;

  @include vp-1200 {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    grid-template-columns: 1fr 1fr;
    column-gap: 30px;
  }

  @include vp-767 {
    grid-template-columns: 1fr;
    row-gap: 30px;
  }
}
