.stock {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 211px;
  padding: 28px 28px 30px;
  border: 7px solid;
  border-image: linear-gradient(148.82deg, $color-red 0.85%, $color-purple 100%);
  border-image-slice: 1;
  color: $color-secondary-blue;

  @include vp-1200 {
    padding: 28px 28px 30px;
  }

  @include vp-767 {
    text-align: center;
    align-items: center;
    padding: 39px 28px 40px;
  }
}

.stock__name {
  margin: 0 0 14px;

  font-weight: 700;
  font-size: 26px;
  line-height: 19px;

  @include vp-767 {
    margin-bottom: 14px;
  }
}

.stock__desc {
  margin: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
}

.stock__link {
  max-width: max-content;
  margin-top: auto;
  font-weight: 700;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: inherit;
  position: relative;


  &::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 1px;
    left: 0;
    right: 0;
    bottom: -2px;
    background-color: $color-secondary-blue;

    @include vp-767 {
      bottom: -1px;
    }
  }
}
